@import url("https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap");

* {
    margin: 0;
    padding: 0;

    color: #eee;
    font-family: "TASA Explorer", sans-serif;

    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    background-color: #333;
}

h1,
h2 {
    text-align: center;
}

h1 {
    color: #f33;
    text-transform: uppercase;
}

h2 {
    color: #47f;
    text-transform: capitalize;
}

header,
section {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    gap: 3vh;
    border: 2px solid #555;
}

section {
    max-width: 90vw;
    margin: auto;
    border-radius: 10px;
}

div.subsection {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    gap: 2vh;
    border: 1px solid #555;
}
