* {
    /*border: 1px solid #aaa;*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

@media (orientation: landscape) {
    header {
        height: 100vh;
    }
}

header {
    background-color: #121212;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#header-content {
    display: flex;
    flex-direction: row;
}

#my-photo {
    height: 25vw;
    margin: 2em;
    border: none;
    border-radius: 50%;
}

#div-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-title {
    font-size: 4vw;
}

#main-subtitle {
    font-size: 2vw;
}

.header-text {
    margin: .5em 0;
    color: #eee;
}

main {
    display: flex;
    flex-direction: row;
    background-color: #efefef;
}

#left {
    width: 33%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.content-group {
    margin: 2vw;
    padding: 1em;
}

.section-title {
    font-size: 2vw;
    color: #555;
}

hr {
    height: .5em;
    margin: 1vw 0;
    background-color: #555;
}

.section-subtitle {
    margin-bottom: .5vw;
    font-size: 1.5vw;
    font-weight: bold;
}

.text {
    font-size: 1.5vw;
}

.profile-text {
    margin: 1vw 0;
}

.contact-text {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.contact-item, .education-item, .experiences-item, .knowledge-group {
    margin-top: 2vw;
}

#right {
    height: 100%;
    margin: 0 auto;
}

li {
    margin: .5vw 0;
}

@media (orientation: portrait) {
    header {
        height: 25vh;
    }

    main {
        min-height: 75vh;
    }

    #left {
        width: 50vw;
    }

    .section-title {
        font-size: 3vw;
    }

    .text, .section-subtitle {
        font-size: 2.25vw;
    }

}