@import url("https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap");

:root {
    font-size: 12pt;
}

* {
    margin: 0;
    padding: 0;
    font-family: "TASA Explorer", sans-serif;

    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

h1,
h2 {
    text-align: center;
}

h1 {
    color: #f33;
    text-transform: uppercase;
}

h2 {
    color: #47f;
    /* text-transform: capitalize; */
}

header,
section {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    gap: 1vh;
}

section {
    width: 1000px;
    max-width: 90vw;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #555;
}

div.subsection {
    display: flex;
    flex-direction: column;
    border: 1px solid #555;
}
