@import url("https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap");

:root {
    font-size: 12pt; /* DEFAULT */
}

* {
    margin: 0;
    padding: 0;
    font-family: "TASA Explorer", sans-serif;

    outline: none;
    box-sizing: border-box;
    text-decoration: none;

    color: black;
}

body {
    background-color: #eee;
}

header {
    padding: 1.5rem;
    color: #eee;
    background-color: #333;

    * {
        text-align: center;
    }

    h1 {
        color: #eee;
        font-size: 2rem;
    }

    h2 {
        color: #eee;
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }
}

main {
    width: 800px;
    max-width: 100vw;

    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 2rem;
    gap: 1.5rem;

    border: 1px solid #ddd;
    background-color: #fff;
}

main h1 {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

main h2 {
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

main section p {
    margin-bottom: 0.6rem;
}

#profile-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

#profile-photo {
    max-width: 100%;
    height: 20rem;
    border-radius: 10px;
}

@media (max-width: 750px) {
    #profile-container {
        flex-direction: column;
    }

    #profile-photo {
        height: 15rem;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: top;
    }
}

.subsection + .subsection {
    margin-top: 1.6rem;
}

.justified {
    text-indent: 2rem;
    text-align: justify;
    line-height: 1.25;
    /* text-wrap: balance; */
    hyphens: auto;
}

.items-list {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.6rem;
}

.item-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.list-item a:hover {
    text-decoration: underline;
}

.timeline {
    border-left: 4px solid #ccc; /* BORD */
    padding-left: 1.5rem; /* PADD */
}

.timeline-item {
    position: relative;
    margin-bottom: 1.5rem;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: calc((1.5rem + 7px) * (-1)); /* PADD + (BORD + WIDTH)/2 */
    top: 0.3rem;
    width: 10px; /* WIDTH */
    height: 10px;
    background: #555;
    border-radius: 50%;
}

.timeline-item h2 {
    margin-bottom: 0.2rem;
}

.course {
    margin: 0;
}

.period {
    font-size: 0.9rem;
    opacity: 0.7;
    margin-bottom: 0.5rem;
}

.experience-image {
    display: block;
    margin: 1rem auto;
    height: 5rem;
}
