* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1vw;
    background-color: #222;
    color: #eee;
}

/* SESSÕES */

main {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    gap: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;

    border: 1px solid grey;
}

.section-title {
    font-size: 1.5rem;
    text-align: center;
    color: #d97706;
}

.section-subtitle {
    color: #0284c7;
}

.icon-container {
    display: flex;
    justify-content: center;
}


#knowledge-list {
    display: flex;
    flex-direction: row;
}

#knowledge-list > div {
    flex: 1;
}

#knowledge-list h3 {
    text-align: center;
}
